body{
    font-family: 'Arvo', serif;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Gluten', cursive;
font-family: 'Kanit', sans-serif;
    background-color: red;
}
h1,h3{
    font-family: 'Arvo', serif;
font-family: 'Balsamiq Sans', cursive;
font-family: 'Cabin', sans-serif;
font-family: 'Gluten', cursive;
font-family: 'Kanit', sans-serif;
}